body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #cd9494;
    font-family: Arial, sans-serif;
}

.calculator {
    background: rgb(239, 230, 230);
    padding: 20px;
    border-radius: 10px;
    border-color: black;
    box-shadow: 0 0 10px gray;
}

#display {
    width: 100%;
    height: 50px;
    font-size: 20px;
    margin-bottom: 15px;
    text-align: right;
    padding-right: 10px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 60px);
    gap: 10px;
}

button {
    height: 50px;
    font-size: 18px;
    cursor: pointer;
}